.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}

.ch-grid-2 {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid-2:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid-2:after {
	clear: both;
}

.ch-grid-2 li {
	width: 220px;
	height: 220px;
	display: inline-block;
	text-align: center;
	margin: 3px;
}

.div-select {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center center;
}
